@import '../../styles/colorPallete.scss';

.container {
  width: 95%;
  border: 6px double black;
  background-color: rgba(255, 255, 255, 0.842);
  margin: auto;
  display: flex;
  flex-direction: column;

  span {
    display: flex;
    justify-content: space-between;
    padding: 2%;

    span:last-child {
      border: none;
    }
  }

  p {
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
  }
}
.btn-container {
  // width: 90%;
  padding-bottom: .6rem;
  display: flex;
  align-content: center;
  flex-direction: row;
  margin: auto;


  button {
    height: 8vh;
    width: 30vw;
    background-color: $pokemon-button-bgcolor;
    border: none;
    margin-left: 10px;
    margin-top: 0.5rem;
    border-radius: 5px;
    box-shadow: $pokemon-button-box-shadow;
    
    p{
      text-align: center;
      font-family: Pokemon;
      color: $pokemon-font-color;
      text-shadow: $pokemon-button-text-shadow;
      -webkit-text-stroke: $pokemon-button-text-stroke;
      letter-spacing: .2rem;
      margin: 0;
      padding-bottom: 1rem;
      font-size: 1.3rem;
    }
    
  }


}
