@import '../../styles/colorPallete.scss';

.container {
  background-color: rgba(255, 255, 255, 0.842);
  border: 6px double black;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;

  span {
    display: flex;
    justify-content: space-between;
    padding: 2%;

    span:last-child {
      border: none;
    }
  }

  p {
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
  }
}
.btn-container {
  align-content: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-bottom: 0.6rem;

  button {
    background-color: $pokemon-button-bgcolor;
    border: none;
    border-radius: 5px;
    box-shadow: $pokemon-button-box-shadow;
    height: 8vh;
    margin-left: 2rem;
    margin-top: 0.5rem;
    width: 25vw;
    height: 12vw;
  }

  .att-name {
    -webkit-text-stroke: $pokemon-button-text-stroke;
    color: $pokemon-font-color;
    font-family: 'Pokemon';
    font-size: 2.8vw;
    letter-spacing: 0.2rem;
    margin: 0;
    padding-bottom: 1rem;
    text-align: center;
    text-shadow: $pokemon-button-text-shadow;
    // width: 100%;
  }
}
