.title {
  color: blue;
  font-size: 5rem;
}

@media screen and (max-width: 500px) {
  .title {
    color: green;
  }
}


/* Extra small (phones, 600px and down) */
/* Small (tables and larger phones, 600px and up) */
/* Medium (landscape tablets, 768px and up) */
/* Large (laptops/desktops, 992px and up) */
/* Extra large (large laptops/desktops, 1200px and up) */