@import '../../styles/colorPallete.scss';

.modal {
  background: white;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: -2rem 2rem 2rem rgba(black, 0.2);
  left: 17.5%;
  position: fixed;
  top: 10%;
  width: 65%;
  
  .content {
    padding: 0.5rem;
  }
  .actions {
    background: #eee;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top: 1px solid #ccc;
    padding-bottom: 1rem;

    button {
      @include pokemon-font-button;
      border: 0;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      padding-bottom: 1.4rem;
    }
  }
}
