.pkContainer {
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
  padding: 5px 20px;

  div {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 7.5px double black;
  }

  span {
    display: flex;
    justify-content: space-between;
    width: 17.5rem;
    margin: auto;
    
    p {
      color: black;
      margin: 0;
      padding: 5px;
      letter-spacing: 2.5px;
      text-align: left;
      font-weight: bold;
      font-size: .85rem;
      -webkit-font-smoothing: none;
      font-family: 'pokemon-font', monospace;
    }

    :last-child {
      color:black;
      text-align: end;
    }
  }
}
